body{
  background-color: #f1f1f1;
}

h1{
  color: #009DDC;
  font-family: 'Heebo', sans-serif;
}


.blur{
display: flex;
justify-content: center;
border: 1px thin #009DDC;
font-family: 'Nanum Gothic', sans-serif;
}

img {
  width: 10%;
  height: auto;
}

@media all and (max-width: 500px){
  body{
  background-color: #d1d1d1
  }
  img{
    display: flex;
    flex-direction: row;
  }
}